@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body bg-sand text-ink;
}

.container {
  @apply mx-auto w-full max-w-6xl px-6;
}
